* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-el {
  background-color: #F5F5F5;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  padding: 4rem;
}


.die-el {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  justify-items: center;
}

.die-item {
  background-color: #ffffff;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  text-align: center;
}